<div class="background-image-search-results-2">

  <div class="center-content text-white-opacity">
    <h2>Log In</h2>

  <div class="center-content no-search-found-text col-xs-8 offset-xs-2 col-md-6 offset-md-3">
    <%= form_for :user do |f| %>

    <%= f.email_field :email, placeholder: "Email", class:"login-input" %><br>

    <%= f.password_field :password, placeholder: "Password", class:"login-input" %><br>
  <br/>
    <%= f.submit "Login", class:"btn btn-secondary" %>

    <% end %>
  <br/>
  </div>
</div>
