
<div class="background-image-habitats-form"></div>

  <div class="form-header center-content">

<h1>Editing Habitat</h1>

</div>

<div class="space-details col-xs-12 col-md-10 offset-md-1">

  <%= render 'form', space: @space %>
  <%= link_to 'Main', spaces_path %>


</div>
