<div class="background-image-habitats-form">

  <div class="form-header center-content">

<h1>New Habitat</h1>

</div>

<div class="space-details col-xs-12 col-md-10 offset-md-1">

  <%= render 'form', space: @space %>

  <%= link_to 'Back', spaces_path %>


</div>



</div>
