<div class="container-fluid">
<div class="row">
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="nav-item">
              <!-- <div class="col-md-12"><img src="" class="img-responsive"></div> -->
              <div class="row first-row">
                  <div class="col-xs-12">
                    <a class="nav-link" href="/">&#xa9; Co-Habitat</a>
                  </div>
              </div>
          </li>
        </div> <!--end of <div> container-fluid -->
    </nav>
</div>
</div>
