/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 */


 @import "bootstrap";

 .nav > li > a:hover{
    background-color:rgba(0,0,0,0);
    // font-weight: bold;
    text-shadow: 5px 5px 8px black;
 }

.navbar-toggler{
  color: white;
}

 .navbar-brand:hover {
    background-color:rgba(0,0,0,0) !important;
    // font-weight: bold;
    text-shadow: 5px 5px 8px black;
 }

.nav-link, .navbar-brand {
  color: white !important;
  text-shadow: 2px 2px 8px black;
}
 .navbar{
    // background-color:white;
  background-color: rgba(0,0,0,0);
  // position: fixed;
  color: white;
}

.center-content {
text-align: center;
}

.checkboxSpacer {
  padding: 0.1em 0.3em 0.1em 0.3em
}

.form-bar {
  border:1px solid grey;
  padding:2em;
}

.styled-dropdown {
  background-color:rgba(0,0,0,0.0);
  color:rgba(255,255,255,0.8);
  border: 2px solid rgba(255,255,255,0.8);
  font-size: 16px;
  height: 38px;
  margin: 0.3em 0;
  // background:none; -webkit-appearance:none
}

.alert {
  border-radius: 0;
}


body {
  background-color: black;
  font-family: 'Catamaran', sans-serif;
}

.this-footer {
  clear:both;
  // width: 100%;
  background-color: #0d1015;
  color: white;
  // bottom: 0;
  // position: absolute;
}

a, a:hover {
  text-decoration: none
}
