/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 */


 @import "bootstrap";


.center-content {
text-align: center;
}

.checkboxSpacer {
  padding: 0.3em
}

.form-bar {
  border:1px solid grey;
  padding:2em
}

select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 38px;
  width: 200px;
  margin: 0.3em 0
}

.alert {
  border-radius: 0;
}
