// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tbc{
  border: 1px red dotted;
}

.search-space-image {
  width: 100%;
  height: 150px;
  object-fit: cover
}

.bubble {
  border: 1px green solid;
}

#main_banner{
  text-align: center;
}

#avail_head{
  display: inline-block;
}
