// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thead th {
background-color: lightgrey;

}

.space-body {
  width:100%;
  padding-top: 150px;
  color: rgba(255,255,255,0.8)
}


.background-image-indv-space {
  background-color: black;
  background-image: url("http://res.cloudinary.com/dgiqrtq7k/image/upload/v1476344465/workspace-3-med-37blackopacity_jwygr7.jpg");
  background-size: cover;
  background-attachment: fixed;
  position:absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  // filter: alpha(Opacity=50);
  // opacity: 0.5;
}
