// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileImg {
  width: 150px;
  height: 150px;
  border: 0;
  object-fit: cover;
}

h1 {
  text-align: center;
}

.background-image-users-form{
  background-color: black;
  background-image: url("http://res.cloudinary.com/dgiqrtq7k/image/upload/v1476344465/workspace-2-med-37blackopacity_jkrxc7.jpg");
  background-size: cover;
  background-attachment: fixed;
  position:absolute;
  top: 0;
  z-index: -10;
  width: 100%;
}

.editView-btn{
  padding: 0.3em 1.2em 0.3em 1.2em !important;
  border: 1px solid rgba(0,0,0,0.5) !important;
  color: rgba(0,0,0,0.5) !important;
}
