// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileImg {
  width: 150px;
  height: 150px;
  border: 0;
  object-fit: cover;
}

h1 {
  text-align: center;
}
