<h1>Editing Availability</h1>

<%= render 'form', availability: @availability %>

<%= link_to 'Show', @availability %> |
<%= link_to "back", request.referer.present? ? request.referer : root_path %>
<%# link_to 'Back', availabilities_path %>
