<div class="background-image-habitats">


  <div class="space-body center-content">

<h1>List An Availability</h1>

<div class="container-fluid col-md-6 offset-md-3 habitat-table">


<%= render 'form', availability: @availability %>

<%# link_to 'Back', availabilities_path %>
<%= link_to "back", request.referer.present? ? request.referer : root_path %>

</div>

</div>
</div>
